@charset "utf-8";
/* CSS Document */
/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.right{float:right;}
.hide{display:none;}
.show{display:block;}
/*topBar*/
.topBar{height:31px; background-color:#F7F7F7; line-height:31PX;}
.collection{background: url(../images/icon/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px; background-color:#1D7AD9;}
.logo{padding-left:41px; padding-top:13px;}
/*search*/
.search_box{width:430px; padding-top:23px; padding-left:150px;}
/*.search_text{width:350ps; height:14px; line-height:14px; padding:11px 5px 10px; background-color:#FFF;}*/
.search_text{width:350px; height:35px; line-height:35px\9;/*cs  hack \9 代表所有的ie浏览器*/ padding:0 5px; background-color:#FFF;}
.search_btn{width:70px; height:35px; font-size:14px; font-family:"MicrosoftYaHei","微软雅黑"; background-color:#FF8C00; color:#FFF; }
/*购物车*/
.shopCar{width:145px; height:35px; background-color:#FF8C00; margin-top:23px; font:14px/35px "MicrosoftYaHei","微软雅黑"; color:#FFF; margin-right:50px; display:inline;}
.shopText{height:100%; width:87px; border-right:#E27A00 solid 1px; background: url(../images/icon/shop.jpg) 10px center no-repeat; text-indent:40px;}
.shopNum{width:27px; height:35px; border-left:#FF9C01 solid 1px; background: url(../images/icon/down.jpg) 33px center no-repeat; text-align:right; padding-right:29px;}
/*导航*/
.navBox{height:44px; background-color:#1369C0; color:#FFF; }
.shopClass{width:190px; position:relative;}
.shopClass h3{text-align:center; line-height:7px;}
.shopClass i{width:11px; height:7px; overflow:hidden; background: url(../images/icon/down.jpg) left center no-repeat; display:inline-block; margin-left:11px;}
.nav,.shopClass h3{font-family:"MicrosoftYaHei","微软雅黑";}
.nav{line-height:35px; margin-top:5px;}
.nav li{float:left;}	
.nav a{height:35px; display:inline-block; padding:0 25px; color:#FFF;}
.nav .active{background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_shop{background-color:#4593FD;  position: absolute; left:0px; top:44px; width:100%;}
.shopClass_item{padding:5px 10px; border-bottom:#3487F2 solid 1px; border-top:#5AA1FE solid 1px; margin-top:1px;}
.shopClass_item dt{height:22px; margin-left:10px;  background: url(../images/icon/right.jpg) right center no-repeat; overflow:hidden; line-height:1px;}
.shopClass_item .b{font:14px/1 "MicrosoftYaHei","微软雅黑";}
.shopClass_item a{color:#FFF;}
.shopClass_item a:hover{ text-decoration:underline;}
.shopClass_item dd{ margin-left:10px;}
.shopClass_item .aLink{width:48px; height:20px; background:url() left center no-repeat; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}
/*shopClass_item active 状态*/
.shopClass_active{background:#FFF; border-left:#4593FD solid 1px;}
.shopClass_active a{ color:#000;}
.shopClass_active .aLink{color:#FFF; text-decoration:none;}
.shopClass_active dt{background:none;}
/*弹出的列表 */
.shopClass_list{width:568px; height: auto; border:#CCC solid 1px; position:absolute; left:190px; top:35px;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding:10px 0; border-bottom:#CCC solid 1px;}
.shopList_item dt{color:#4B87D9; line-height:24px; font-weight:bold; height:24px;}
.shopList_item dd{padding-left:68px; line-height:20px; margin-top:-30px;}
.shopList_item dd a{ margin-right:12px;}
.shopList_links{ padding:15px 0;}
.shopList_links a{color:#FFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:10px;}
.shopList_links span{width:11px; height:7px; background:url(../images/icon/right.jpg) left center no-repeat; display:inline-block; margin-left:7px;}
/*banner 部分*/
.banner{margin-bottom:15px;}
.banner_bar{float:right; position:relative; overflow:hidden; margin-top:-12px; border-top:#36F solid 2px;}
.imgBox{position:absolute; margin-top:0px;}
.imgBox li{float:left; margin-left:-40px;}
.imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#FF7700;}
.banner_big,.banner_big img{width:810px; height:339px;}
.banner_big imgBox{width:1620px; height:326px;}
.banner_sm,.banner_sm img{width:190px; height:411px; margin-top:0;}
.banner_sm imgBox{width:380px; height:400px;}
/*商品标题*/
.shopTit{height:44px; font-family: "MicrosoftYaHei","微软雅黑"; line-height:44px; margin-bottom:15px; margin-top:360px;}
.shopTit h3{font-size:24px; float:left; font-weight:normal; padding-left:15px; margin:1px;}
.icon{width:44px; height:44px; background:url(../images/icon/home.jpg) left top no-repeat; float: left;}
.more{float: right;font-family:"宋体";}
.more:hover{text-decoration:underline;}
/*商品列表*/
.shopList .leftArea{width:190px;}
.shopList .rightArea{width:808px; border:#999 solid 1px; border-bottom:#FF7201 solid 3px; height:409px;}
/*商品列表右侧*/
.shopList{ margin-bottom:-335px;}
.shopList_top {margin-right:-4px;}
.shop_item{width:201px; border-right:#999 solid 1px; border-bottom:#999 solid 1px; height:279px; text-align:center; font-family: "MicrosoftYaHei","微软雅黑"; float:left;}
.shop_img{height:218px;}
.shop_img img{width:150px; height:180px; display:block; margin: 20px;}
.shop_item h3{font-size:16px;margin-top:-20px;}
.shop_item p{font-size:14px; color:#FF7300; line-height:1px;}
/*商品列表 小*/
.shopItem_sm{width:201px; border-right:#999 solid 1px; height:120px; float:left; padding-top:9px;}
.shopItem_smImg{width:93px; height:95px; text-align:center; float:left; padding-left:3px;}
.shopItem_smImg img{width:95px; height:95px;}
.shopItem_text{width:100px; float:right;}
.shopItem_text p{color:#FF7300;}
.shopItem_text h3{font-family:"MicrosoftYaHei","微软雅黑"; font-size:16px; font-weight:normal; color:#181818; line-height:10px;}
/*底部*/
.footer{text-align:center; padding-top:30px; height:0; padding-bottom:5px;}
.footer p{line-height:12px;}
.footer i{font-style:normal; margin:0 5px;}
.footer a{color:#000;}
.footer a:hover{color:#F60;};
.web{padding-top:30px;}
.web img{margin:0 12px;}
/*产品分类导航*/
.leftNav{ width:188px;background-color:#F3F3F3; border:#D7D7D7 solid 1px;}
.nav_title{height:34px; line-height:34px; font-size:14px; border-bottom:#D7D7D7 solid 1px; text-align: center;}
.nav_cont{padding:0 18px 4px;}
,nav_cont h3{font-size:12px; height:30px; line-height:30px;}
.navCont_list{line-height:25px;}
.navCont_list li{float:left; width:50%;}





































