@charset "utf-8";
/* CSS Document */
/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.right{float:right;}
.hide{display:none;}
.show{display:block;}
/*topBar*/
.topBar{height:31px; background-color:#F7F7F7; line-height:31PX;}
.collection{background: url(../images/icon/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px; background-color:#1D7AD9;}
.logo{padding-left:41px; padding-top:13px;}
/*search*/
.search_box{width:430px; padding-top:23px; padding-left:150px;}
/*.search_text{width:350ps; height:14px; line-height:14px; padding:11px 5px 10px; background-color:#FFF;}*/
.search_text{width:350px; height:35px; line-height:35px\9;/*cs  hack \9 代表所有的ie浏览器*/ padding:0 5px; background-color:#FFF;}
.search_btn{width:70px; height:35px; font-size:14px; font-family:"MicrosoftYaHei","微软雅黑"; background-color:#FF8C00; color:#FFF; }
/*购物车*/
.shopCar{width:145px; height:35px; background-color:#FF8C00; margin-top:23px; font:14px/35px "MicrosoftYaHei","微软雅黑"; color:#FFF; margin-right:50px;}
.shopText{height:100%; width:87px; border-right:#E27A00 solid 1px; background: url(../images/icon/shop.jpg) 10px center no-repeat; text-indent:40px;}
.shopNum{width:27px; height:35px; border-left:#FF9C01 solid 1px; background: url(../images/icon/down.jpg) 33px center no-repeat; text-align:right; padding-right:29px;}
/*导航*/
.navBox{height:44px; background-color:#1369C0; color:#FFF; }
.shopClass{width:190px; position:relative;}
.shopClass h3{text-align:center; line-height:7px;}
.shopClass i{width:11px; height:7px; overflow:hidden; background: url(../images/icon/down.jpg) left center no-repeat; display:inline-block; margin-left:11px;}
.nav,.shopClass h3{font-family:"MicrosoftYaHei","微软雅黑";}
.nav{line-height:35px; margin-top:5px;}
.nav li{float:left;}	
.nav a{height:35px; display:inline-block; padding:0 25px; color:#FFF;}
.nav .active{background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_shop{background-color:#4593FD;  position: absolute; left:0px; top:44px; width:100%;}
.shopClass_item{padding:5px 10px; border-bottom:#3487F2 solid 1px; border-top:#5AA1FE solid 1px; margin-top:1px;}
.shopClass_item dt{height:22px; margin-left:10px;  background: url(../images/icon/right.jpg) right center no-repeat;}
.shopClass_item .b{font:14px/1 "MicrosoftYaHei","微软雅黑";}
.shopClass_item a{color:#FFF;}
.shopClass_item a:hover{ text-decoration:underline;}
.shopClass_item dd{ margin-left:10px;}
.shopClass_item .aLink{width:48px; height:20px; background:url() left center no-repeat; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}
/*shopClass_item active 状态*/
.shopClass_active{background:#FFF; border-left:#4593FD solid 1px;}
.shopClass_active a{ color:#000;}
.shopClass_active .aLink{color:#FFF; text-decoration:none;}
.shopClass_active dt{background:none;}
/*弹出的列表 */
.shopClass_list{width:568px; height: auto; border:#CCC solid 1px; position:absolute; left:190px; top:35px;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding:10px 0; border-bottom:#CCC solid 1px;}
.shopList_item dt{color:#4B87D9; line-height:24px; font-weight:bold; height:24px;}
.shopList_item dd{padding-left:68px; line-height:24px; margin-top:-24px;}
.shopList_item dd a{ margin-right:12px;}
.shopList_links{margin-top:15px;}
.shopList_links a{color:#FFF; background-color:#2785E6; height:26px; line-height:26px; font-size:12px; display:inline-block; padding:0 14px 0 8px; margin-right:10px;}
.shopList_links span{width:11px; height:7px; background:url(../images/icon/right.jpg) left center no-repeat; display:inline-block; margin-left:7px;}



















